.example-form {
    min-width: 150px;
    max-width: 500px;
    margin: 8px;
}

.example-full-width {
    width: 100%;
}

.purple {
    background-color: #673ab7;
    color: whitesmoke;
}

.whitesmoke {
    color: whitesmoke;
}