<mat-card style="width: 100%; margin-left: 0;" class="purple">
  <mat-card-title>HELP IT</mat-card-title>
  <mat-card-subtitle class="whitesmoke">Bo pomaganie łączy</mat-card-subtitle>
</mat-card>
<div fxLayoutAlign="center center" style="margin-top: 10px" >
  <mat-card class="example-form" *ngIf="login">
    <form class="example-form">
      <mat-card-title class="mat-h2">Logowanie</mat-card-title>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="name" name="username" placeholder="Nazwa użytkownika">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" [(ngModel)]="password" name="password" placeholder="Hasło użytkownika">
        </mat-form-field>
      <button mat-raised-button color="primary" (click)="log()" >Logowanie</button>
    </form>
  </mat-card>
  <mat-tab-group *ngIf="!login" style="width: 100%">
    <mat-tab label="Lista wpłat" style="min-width: 33%">
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="donations">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef> Nazwa użytkownika </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.user.username}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Wpłata </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amount}} zł </mat-cell>
              </ng-container>
              <ng-container matColumnDef="donationDate">
                <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.donationDate | date}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
    </mat-tab>
    <mat-tab label="Wyślij wiadomość" style="min-width: 50%">
      <mat-card class="example-form">
        <form class="example-form" ngDefaultControl>
          <mat-card-title class="mat-h2">Wyślij wiadomość</mat-card-title>
          <mat-form-field class="example-full-width" ngDefaultControl>
            <textarea matInput [(ngModel)]="message" name="messaged" placeholder="Wpisz wiadomość" ></textarea>
          </mat-form-field>
          <file-upload #fu (change)="fu.upload()" [multiple]="true"></file-upload>
        </form>
        <button mat-raised-button color="primary" (click)="selectAll()" >Zaznacz wszystkich</button>
        <button mat-raised-button color="warn" (click)="deselectAll()" >Odznacz wszystkich</button>
        <button mat-raised-button color="accent" (click)="sendMsg()" >Wyślij</button>
        <mat-selection-list #shoes [ngModel]="selectedUsers" ngDefaultControl>
          <mat-list-option *ngFor="let user of users" ngDefaultControl value="{{user.id}}">
            {{user.username}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card>
    </mat-tab>
    <mat-tab label="Administracja">
      <mat-card class="example-form">
        <form class="example-form">
          <mat-card-title class="mat-h2">Rejestracja</mat-card-title>
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="newUsername" name="newUsername" placeholder="nazwa użytkownika">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="hasło użytkownika">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" [(ngModel)]="rNewPassword" name="rNewPassword" placeholder="powtórz hasło">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="email" [(ngModel)]="email" name="email" placeholder="email użytkownika">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="register()" >Dodaj</button>
        </form>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>